%buphagusFade {
	position            : absolute;
	top                 : 0;
	bottom              : 0;
	left                : 0;
	right               : 0;

	z-index             : 0;
	opacity             : 0;
	
	background-repeat   : no-repeat;
	background-position : center bottom;
	background-size     : cover;

	transition          : opacity 1s ease-in;
}

@mixin buphagusCarousel($height: 660px, $selector : 'li'){
	&.js {
		position: relative;
	}

	&.js div.cowl-bar{
		z-index: 2;
	}

	&.js div.cowl-wrap{
		height   : $height;
		overflow : hidden;
		position : relative;

		#{$selector}{				
			position : absolute;
			width    : 100%;
			height   : 100%;
			top      : 0;
			left     : 100%;

			&.prev,&.inactive-prev{
				left: -100%;
			}
			
			&.current{
				left: 0;
			}

			&.next,&.inactive-next{
				left: 100%;
			}
		}
	}

	&.js-animate{
		#{$selector}{
			transition-property        : transform, left, opacity;
			transition-duration        : 1s;
			transition-timing-function : ease-out;
		}
	}
}

@mixin buphagusCarouselFade($height: 660px, $selector : 'li'){

	&.js div.cowl-wrap{
		height   : $height;
		overflow : hidden;
		position : relative;

		#{$selector}{
			position            : absolute;
			top                 : 0;
			bottom              : 0;
			left                : 0;
			right               : 0;

			z-index             : 0;
			opacity             : 0;
			
			background-repeat   : no-repeat;
			background-position : center bottom;
			background-size     : cover;

			transition          : opacity 1s ease-in;

			&.current{
				@extend %buphagusFade;
				z-index : 2;
				opacity : 1;
			}

			&.prev,&.next{
				@extend %buphagusFade;
				z-index : 1;
				opacity : 1;
			}

		}
	}

	&.js-animate{
		#{$selector}{
			transition-property        : transform, opacity;
			transition-duration        : 1s;
			transition-timing-function : ease-out;
		}
	}
}

@mixin buphagusCarouselHeight($height: 680px){
	&.js div.cowl-wrap{
		height   : $height;
	}
}